
/**
 * On rends le tout un peu plus sexy...
 */

.md {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  display: inline-block;
  color: #ddd;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.md li {
  margin: 5px 0;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md ul, .md p {
  margin: 0px;
}

.md h1 {
  color: #663d00;
}

.md h2 {
  color: #cc7a00
}

.md h3 {
  color: #ffa31a;
}

.md strong {
  color: #ffcc80
}
/**
 * Ok c'est déjà mieux.
 *
 * Si vous voulez me contacter il y a les liens en bas a droite.
 *
 */