
/**
 * On a presque fini...
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }

/**
 * J'espère que vous avez appréciez.
 *
 * Merci à STRML qui m'a inspirer la réalisation de ce site,
 * Si vous voulez voir de son travail, je vous conseil son blog :
 * http://blog.strml.net/
 */

/**
 * Au passage, cette fenêtre est éditable ! Vous pouvez changez le CSS.
 *
 * Par exemple,
 *
 * La propriété 'text-shadow' prends les paramètres :
 * 'x', 'y', 'blur', 'color'.
 *
 * Si je voulais par exemple rajouter une ombre pour faire un effet 
 * flou je pourrais faire :
 */

.value {
  text-shadow: 0px 15px 1px white;
}

/**
 * Essayez ! Jouez avec la taille du texte, les ombres, les animations...
 */


